<app-navbar></app-navbar>
  <div data-view="category">
    <h2 class="line1">Category For Our Collection</h2>

    <div id="catDiv" >
      <a class="cat catOverlay" href="#">
        <img src="https://source.unsplash.com/500x500/?t shirt">
        <div class="catTitle">t-shirts  <i class="fa fa-long-arrow-right" aria-hidden="true"></i></div>
      </a>
      
      <a class="cat catOverlay" href="#">
        <img src="https://source.unsplash.com/500x500/?hoodies">
        <div class="catTitle">hoodies <i class="fa fa-long-arrow-right" aria-hidden="true"></i></div>
      </a>
      
      <a class="cat catOverlay" href="#">
        <img src="https://source.unsplash.com/500x500/?bags">
        <div class="catTitle">Bags <i class="fa fa-long-arrow-right" aria-hidden="true"></i></div>
      </a>
      
      <a class="cat catOverlay" href="#">
        <img src="https://source.unsplash.com/500x500/?shoes">
        <div class="catTitle">shoes <i class="fa fa-long-arrow-right" aria-hidden="true"></i></div>
      </a>
      
      <a class="cat catOverlay" href="#">
        <img src="https://source.unsplash.com/500x500/?sunglasses">
        <div class="catTitle">sunglasses <i class="fa fa-long-arrow-right" aria-hidden="true"></i></div>
      </a>
      
      <a class="cat catOverlay" href="#">
        <img src="https://source.unsplash.com/500x500/?Tattoo art">
        <div class="catTitle">3d Tattoo art <i class="fa fa-long-arrow-right" aria-hidden="true"></i></div>
      </a>
      
      <a class="cat catOverlay" href="#">
        <img src="https://source.unsplash.com/500x500/?swim wear">
        <div class="catTitle">swimwear <i class="fa fa-long-arrow-right" aria-hidden="true"></i></div>
      </a>
      
      <a class="cat catOverlay" href="#">
        <img src="https://source.unsplash.com/500x500/?Hats">
        <div class="catTitle">hats <i class="fa fa-long-arrow-right" aria-hidden="true"></i></div>
      </a>
    </div>
  </div>


<app-footer></app-footer>
