<app-navbar></app-navbar>
  <div data-view="category">
    <h2 class="line1">Category For Our Collection</h2>

    <div id="catDiv" >
      <a class="cat catOverlay" href="#">
        <img src="https://source.unsplash.com/500x500/?t shirt">
        <div class="catTitle">T-SHIRTS</div>
      </a>
      
      <a class="cat catOverlay" href="#">
        <img src="https://source.unsplash.com/500x500/?shoes">
        <div class="catTitle">SHOES</div>
      </a>
      
      <a class="cat catOverlay" href="#">
        <img src="https://source.unsplash.com/500x500/?bags">
        <div class="catTitle">Bags</div>
      </a>
      
      <a class="cat catOverlay" href="#">
        <img src="https://source.unsplash.com/500x500/?cosmetics">
        <div class="catTitle">cosmetics</div>
      </a>
      
      <a class="cat catOverlay" href="#">
        <img src="https://source.unsplash.com/500x500/?sunglasses">
        <div class="catTitle">sunglasses</div>
      </a>
      
      <a class="cat catOverlay" href="#">
        <img src="https://source.unsplash.com/500x500/?Tattoo art">
        <div class="catTitle">3d Tattoo art</div>
      </a>
      
      <a class="cat catOverlay" href="#">
        <img src="https://source.unsplash.com/500x500/?swim wear">
        <div class="catTitle">swimwear</div>
      </a>
      
      <a class="cat catOverlay" href="#">
        <img src="https://source.unsplash.com/500x500/?Hats">
        <div class="catTitle">Hats</div>
      </a>
    </div>
  </div>


<app-footer></app-footer>
